section
  section
    h2.title DockerFile

  section
    h3.title Definition
    blockquote.fragment.
      A Dockerfile is a text document that contains all the commands a user could call on the command line to assemble an image

  section
    h3.title How to
    ol
      li.fragment.
        Create a Dockerfile file
      li.fragment.
        Define all the commands that you need for your container to run

  section
    h3.title Demo
