section
  section
    h2.title Kitematic

  section
    h3.title O que é?
    blockquote.fragment.
      Run containers through a simple, yet powerful graphical user interface.

  section
    h3.title Como utilizar?
    small.fragment.
      Now part of the Docker Toolbox (windows, mac)
    small.fragment.
      Needs to be downloaded for linux through github release
